/* modify modal starts */
.modal-xl {
  max-width: 800px;
}
/* modify modal ends */
@media print {
  body * {
    visibility: hidden;
  }
  #invoice-print-content,
  #invoice-print-content * {
    visibility: visible;
  }
  #invoice-print-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px;
  }
  .no-print {
    display: none !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6 !important;
  }
}
